.sideFeed {
    background-color: #30393d;
    color: #fff;
    position: fixed;
    width: 300px;
    right: 0;
    top: 0;
    margin: 0;
    overflow: hidden;
    transform: translateX(100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(105%);

    .navtop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 10;
        width: -webkit-fill-available;
        background: #30393d;

        .navbtn.sidenav-close {
            margin: 20px;
            border: 1px solid #2a3235;
            background-color: #3a4246;
            color: white;
            border-radius: 5px;
            font-size: 1.5rem;
            padding: 10px;
            font-weight: 600;
            text-align: center;
            width: 100px;
        }

        .menutitle {
            padding-left: 30px;
        }

    }

    .collection {
        margin: 100px 8px 10px 8px;
        border: none;

        .collection-item {
            margin: 4px 0;
            padding: 7px;
            border-bottom: none;
            border-radius: 5px;
            box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(62, 61, 61, 0.24);
            width: -webkit-fill-available;

            a {
                color: white;

                i.tiny {
                    font-size: 1rem;
                    float: right;
                    color: #ffab40;
                }

                .paper {
                    display: flex;
                    height: 48px;

                    .icon {
                        padding: 10px;
                    }

                    .info {
                        display: flex;
                        flex-flow: column;
                        justify-content: space-evenly;
                    }
                }
            }
        }
    }
}
