.personChart_container {
  margin-top: 50px;
  height: 700px;
  padding: 30px;
  border-bottom: 4px solid #828282;
  background-color: rgba(67, 77, 75, 0.34);
  border-radius: 10px;
  .title{
    text-align: center;
    margin-bottom: 50px;
  }

  .personChart {
      height: 500px;
  }
}
