.top-container {
    //SCSS
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
    & > div:nth-child(1) > div {
        border-bottom: 3px solid #21afdd;
    }
    & > div:nth-child(2) > div {
        border-bottom: 3px solid #ff5b5b;
    }
    & > div:nth-child(3) > div {
        border-bottom: 3px solid #10c469;
    }
    & > div:nth-child(4) > div {
        border-bottom: 3px solid #f9c851;
    }
}
