$tablet: 768px;
@mixin tablet {
    @media (min-width: #{$tablet} ) {
        @content;
    }
} 


.CardCountry {
  border-bottom: 1px solid #333b3b;
  margin: 10px 3px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2323232e;
  border-radius: 5px;

  .container_country {
    display: flex;
    // justify-content: space-between;
    flex-direction: column;

    
    .left {
      display: flex;
      flex-direction: column;

      width: 100%;
      .flag_country{
        display: flex;
        justify-content: center;
        img {
         height: 35px;
         width: 50px;
         box-shadow: 0 8px 6px -6px black;
         object-fit: cover;
       }
      }

      .data_country {
        display: flex;
        flex-direction: column;  

        .name_country {
          font-weight: bold;
          text-align: center;
          font-size: 1.3em;
        }

        .cases_data_country {
          display: flex;
          justify-content: space-evenly;
          
        }
      }
    }

    .right{
      margin-top: 5px;
      .today_data_country{
        display: flex;        
        justify-content: space-evenly;
        .today_data_country_number{          
          i{
            
            padding-top: 5px;
            margin-right: 5px;
            display:inline-block;
          }
        }
      }
    }
    .title{      
      display: inline-block;
      width: 60px;
    }
    .data{
      width: 120px;
    }    

    
  }

  @include tablet() {
    .container_country {
      display: flex;
      // justify-content: space-between;
      flex-direction: row;
      span{
        line-height: 1;
      }
      .left {
        display: flex;
        flex-direction: row;
        .flag_country{          
          
          
        }
  
        .data_country {
          display: flex;
          flex-direction: column;  
          padding-left: 10px;
          .name_country {
            text-align: left;
            }
          
          .cases_data_country {
            display: flex;
            justify-content: space-evenly;
            margin-top: 5px;
            
          }
        }
      }
      .right{
        margin-top: 0px;
        display: flex;
        align-items: flex-end;
        .today_data_country{
          display: flex;        
          justify-content: space-evenly;
          .today_data_country_number{          
            i{
              
              padding-top: 0px;
              margin-right: 10px;
              display:inline-block;
            }
          }
        }
      }
    }


  }
}
