.CardCountry {
    border-bottom: 1px solid #3b4452;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    .container_country {
        display: flex;
        justify-content: space-between;
        .left {
            display: flex;
            .flag_country {
                img {
                    height: 35px;
                    width: auto;
                }
            }
            .data_country {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 0 10px;
                span {
                    line-height: 1;
                    display: inline-block;
                }
                .name_country {
                    // margin-bottom: 5px;
                    font-weight: bold;
                    font-size: 1.3em;
                }
                .cases_data_country {
                    span {
                        font-size: 1em;
                        margin-right: 8px;
                    }
                }
            }
        }
        .right {
            .today_data_country {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
