.SearchCountries {
  background-color: rgba(67, 77, 75, 0.34);
  border-radius: 10px;
  color: white;
  height: 430px;
  overflow-y: scroll;
  padding: 20px;
  width: 50%; }

.SearchCountries .m-left {
  margin-left: 20px; }

.SearchCountries .filters {
  display: flex;
  justify-content: space-between; }
