$tablet: 768px;
@mixin tablet {
    @media ( min-width: #{$tablet} ) {
        @content;
    }
}

$desktop: 1200px;
@mixin desktop {
    @media ( min-width: #{$desktop} ) {
        @content;
    }
}

.Main {
    padding: 20px;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "topStats topStats "
        "searchCountries searchCountries"
        "distributionChart distributionChart";

    @include desktop() {
        grid-template-columns: 1fr 1fr 1fr 1fr; //4 columns
        grid-template-areas:
            "topStats topStats topStats topStats"
            "searchCountries searchCountries distributionChart distributionChart"
            "searchCountries searchCountries distributionChart distributionChart";
    }

    .topStatsCotainer {
        grid-area: topStats;
    }
    .searchCountriesContainer {
        grid-area: searchCountries;
    }
    .distributionChartContainer {
        grid-area: distributionChart;
    }
}
