a.left.brand-logo {
    display: flex;

    .logo {
        height: 56px;
        padding: 5px;
        width: 56px;
    }
}

.pulse.sidenav-trigger {
    border-radius: 50px;
    display: flex;
    height: 40px;
    width: 40px;
    top: 8px;
    border:  1px solid #ffffff38;

    i.material-icons{
        line-height: 35px;
        color: white;
    }
}
